//Duplicate this file and remote .example from its filename.
//_Credentials.h will be ignored by git

#ifndef SRC_CREDENTIALS
#define SRC_CREDENTIALS

#define WIFI_SSID ""       // your network SSID (name)
#define WIFI_PASSWORD "" // your network password

#define MQTT_LOGIN ""
#define MQTT_PASSWORD ""

#define MQTT_BROKER IPAddress(10, 0, 1, 10)

#endif // SRC_CREDENTIALS
